---
import config from 'virtual:starlight/user-config'
// @ts-expect-error -- FIXME: Missing types for user-images virtual module
import { logos } from 'virtual:starlight/user-images'

interface Props {
  variant?: 'light' | 'dark' | 'auto'
  loading?: 'lazy' | 'eager'
}

const { variant = 'auto', loading = 'eager' } = Astro.props

const { siteTitle, siteTitleHref } = Astro.locals.starlightRoute

const logo = variant !== 'auto' ? logos[variant] : null
---

<a href={siteTitleHref} class="site-title sl-flex">
  {config.logo && (
    logo ? (
      <img
        alt={config.logo.alt}
        src={logo.src}
        width={logo.width}
        height={logo.height}
        loading={loading}
      />
    ) : (
     <>
       <img
         class={'light:sl-hidden print:hidden'}
         alt={config.logo.alt}
         loading={loading}
         src={logos.dark.src}
         width={logos.dark.width}
         height={logos.dark.height}
       />
       {/* Show light alternate if a user configure both light and dark logos. */}
       {!('src' in config.logo) && (
         <img
           class={'dark:sl-hidden print:block'}
           alt={config.logo.alt}
           src={logos.light?.src}
           width={logos.light?.width}
           height={logos.light?.height}
           loading={loading}
         />
       )}
     </>
   )
  )}
  <span class:list={{ 'sr-only': config.logo?.replacesTitle }} translate="no">
    {siteTitle}
  </span>
</a>
